
// Branding

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

/* Fonts */
$primary-font: 'Open Sans', Helvetica, sans-serif;


/* Colours */
$color-1: #272727; // Light Black
$color-2: #007ACD; // Blue
$color-3: #ffffff; // White
$color-4: #666666; // Drk Grey
$color-5: #191919; // Load more


/* Nanobar Top Loading Colour - Change in nanobar.js */
